body {
  background-color: #000;
  text-align: center;
}

h1,
h2,
p {
  font-family: "Verdana";
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #FFF;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: #FFF;
}

.download,
a {
  color: aquamarine;
  font-size: 16px;
}

.description {
  color: gray;
  font-size: 21px;
}
